<div class="container">
    <div class="generator-card">
      <h1>Password Generator</h1>
      
      <div class="password-display">
        <input [value]="password" readonly>
        <button mat-raised-button color="primary" (click)="copyToClipboard()">
            <span *ngIf="!isCopying">Copy</span>
            <span *ngIf="isCopying">
                <i class="fas fa-star animated-star"></i>
                Copied!
            </span>
        </button>
      </div>
  
      <div class="strength-meter">
        <div class="strength-bar" [style.width.%]="strength" [ngClass]="getStrengthClass()"></div>
      </div>
      <div class="strength-text" [ngClass]="getStrengthText()">
        {{ getStrengthText() }}
      </div>
  
      <div class="controls">
        <div class="length-control">
          <label>Password Length: {{ length }}</label>
          <mat-slider min="4" max="15" step="1" thumbLabel>
            <input matSliderThumb [(ngModel)]="length">
          </mat-slider>
        </div>
  
        <div class="character-options">
          <mat-checkbox [(ngModel)]="useUppercase">Uppercase Letters</mat-checkbox>
          <mat-checkbox [(ngModel)]="useLowercase">Lowercase Letters</mat-checkbox>
          <mat-checkbox [(ngModel)]="useNumbers">Numbers</mat-checkbox>
          <mat-checkbox [(ngModel)]="useSymbols">Special Characters</mat-checkbox>
        </div>
  
        <button mat-raised-button 
                color="accent" 
                class="generate-btn" 
                (click)="generatePassword()"
                [disabled]="isGenerating">
          <span *ngIf="!isGenerating">Generate Password</span>
          <span *ngIf="isGenerating">
            <i class="fas fa-cog fa-spin"></i>
            Generating...
          </span>
        </button>
      </div>
    </div>
  </div>